.button {
  display: block;
  background-color: transparent;
  font-family: var(--font-merriweather);
  font-weight: 400;
  line-height: 1;
  border-radius: 3rem;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  transform: scale(1);
  transition: all 0.3s ease;
}

.button:hover {
  scale: 1.05;
}
