.inline {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  line-height: 1.5;
}

.item {
  margin: 0;
  margin-left: 1rem;
  list-style-type: '― ';
  /* color: var(--color-white); */
}