.image {
  width: 100%;
  border-radius: 4rem;
  border-radius: calc(var(--spacing-sm) * var(--brm));
  corner-shape: squircle;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
  transition: filter 0.3s ease, scale 0.3s ease;
  filter: sepia(10%) brightness(0.9);
  scale: 1;
  background-color: var(--color-no-image);
  order: -1;
}

.image:hover,
.image:focus,
.image:active {
  filter: sepia(0%) brightness(1);
  scale: 0.99;
}

.image img {
  transition: object-position 0.3s ease;
}

.image:hover img,
.image:focus img,
.image:active img {
  object-position: 50% 45%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--spacing-sm);
}

.right {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  justify-content: center;
}

@media (min-width: 768px) {
  .image {
    aspect-ratio: auto;
    order: 0;
  }
}
