.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.text {
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--font-merriweather);
  font-weight: var(--font-weight-merriweather);
  line-height: 1.35;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.subtitle {
  color: var(--color-red);
}

.name {
  font-size: 1.15rem;
  font-weight: 400;
  font-family: var(--font-merriweather);
  font-weight: var(--font-weight-merriweather);
  line-height: 1.2;
}

.job {
  font-size: .75rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: var(--font-lato);
  font-weight: var(--font-weight-lato);
}

.index {
  display: inline-block;
}

.details {
  max-height: 0;
  /* display: none; */
  transition: max-height 1.5s linear;
  -webkit-transition: max-height 1.5s linear;
  -moz-transition: max-height 1.5s linear;
  -o-transition: max-height 1.5s linear;
  -ms-transition: max-height 1.5s linear;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}