.socialItems,
.techItems {
  font-size: .75rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  line-height: 1;
}


.socialItem {
  display: block;
  line-height: 1;
  color: var(--color-nav);
  margin: 0;
}

.navItem:visited {
  color: var(--color-nav);
}

.copyright {
  font-size: .75rem;
  line-height: 1.25;
  margin: 0;
}

.fullcrimp {
  font-size: .75rem;
  line-height: 1.25;
  margin-top: var(--spacing-xs);
}
@media (min-width: 768px) {
  .navItems {
    flex-direction: row;
  }

  .socialItems,
  .techItems {
    flex-direction: row;
  }
}