.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
}

.section {
  font-family: var(--font-lato);
    font-weight: var(--font-weight-lato);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  line-height: 1;
}

.title {
  font-size: 3rem;
  font-family: var(--font-merriweather);
  font-weight: var(--font-weight-merriweather);
  line-height: 0.95;
    letter-spacing: -0.1rem;
}

@media (min-width: 1024px) {
  .title {
    font-size: 4rem;
  }
}