.container {
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
  flex: 1;
}

@media (min-width: 768px) {
  .container {
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
  }
}

@media (min-width: 1440px) {
  .container {
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
  }
}